html{
	margin: 0;
}

body {
	margin: 0;
	background-color: rgb(59, 180, 119);
}

* {
	box-sizing: border-box;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.04);
	animation: header 2s ease-out;
}

header h1 {
	display: inline-block;
	margin: 0;
	color: #15db15;
}

.header-menu {
	float: right;
}

.header-menu a {
	line-height: 2em;
	padding: 0 0.5em;
	text-decoration: none;
	color: lightgray;
}

.landing-page {
	position: relative;
	top: 0;
	width: 100%;
	max-width: none;
	height: 100vh;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)),
	  url("../images/landing-page.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.landing-page h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #d6bfbf;
	animation: title 1s ease-out;
	font-size: 3em;
	margin: 0;
	color: white;
}

.landing-page h2 {
	position: absolute;
	top: calc(50% + 2em);
	left: 50%;
	transform: translate(-50%, -50%);
	color: #d6bfbf;
	animation: title 1s ease-out;
	margin: 0;
	font-size: 1.5em;
	color: rgb(179, 191, 186);
}

.section {
	position: relative;
	max-width: calc(90vh / 0.6666666);
	width: 100%;
	height: auto;
	margin: auto;
	padding: 4em 0;
	overflow: hidden;
}

.section .text-holder {
	position: absolute;
	z-index: 3;
	top: 10%;
	left: 10%;
	width: 50%;
	height: auto;
	padding: 1em 0.5em 0.5em 0.5em;
	background-color: rgb(24, 31, 28);
	border-radius: 5px;
}

.section h3 {
	position: absolute;
	z-index: 5;
	left: 50%;
	top: 0.3em;
	transform: translateX(-50%);
	margin: 0;
	padding: 0 0.75em;
	background-color: rgb(24, 31, 28);
	color: rgb(72, 178, 26);
	
}

.section p {
	position: relative;
	width: 100%;
	height: 100%;
	color: rgb(179, 191, 186);
	border: 3px solid rgb(72, 178, 26);
	padding: 1em 0.5em 0.5em 0.5em;
	margin: 0;
}

.section .image-holder {
	position: absolute;
	right: 0;
	top: 20%;
	width: 80%;
	height: 80%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.box-wrapper {
	position: relative;
	padding-top: 66.6666%;
}


/* *************** KEY FRAMES ***************** */

@keyframes title {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes header {
	from {
		top: -7%;
	}

	to {
		top: 0;
	}
}

@keyframes section-left {
  0%{
  	transform: rotate(20deg);
  	margin-left: -45vw;
  }

  54%{
  	transform: rotate(20deg) ;
  	margin-left: calc(1.75em - 20px);
  }

  60% {
    transform:  rotate(0deg) ;
    margin-left: calc(1.75em);
  }
  68% {
    transform:  rotate(-15deg) ;
    margin-left: calc(1.75em + 15px);
  }
  76% {
    transform:  rotate(10deg) ;
    margin-left: calc(1.75em - 10px);
  }
  84% {
    transform:  rotate(-5deg);
    margin-left: calc(1.75em + 5px);
  }
  92% {
    transform:  rotate(5deg);
    margin-left: calc(1.75em - 5px);
  }
  100% {
    transform:  rotate(0deg) ;
    margin-left: calc(1.75em);
  }

}

@keyframes section-right {
  0%{
  	transform: rotate(-20deg);
  	margin-right: -45vw;
  }

  54%{
  	transform: rotate(-20deg) ;
  	margin-right: calc(1.75em - 20px);
  }

  60% {
    transform:  rotate(0deg) ;
    margin-right: calc(1.75em);
  }
  68% {
    transform:  rotate(15deg) ;
    margin-right: calc(1.75em + 15px);
  }
  76% {
    transform:  rotate(-10deg) ;
    margin-right: calc(1.75em - 10px);
  }
  84% {
    transform:  rotate(5deg);
    margin-right: calc(1.75em + 5px);
  }
  92% {
    transform:  rotate(-5deg);
    margin-right: calc(1.75em - 5px);
  }
  100% {
    transform:  rotate(0deg) ;
    margin-right: calc(1.75em);
  }

}