html{
	margin: 0;
}

body {
	margin: 0;
	background: rgb(59, 180, 119);
}

* {
	box-sizing: border-box;
}

section {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 1s ease-in;
}

.loader {
	position: fixed;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 2s linear;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: lightgray;
}

.loader img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	/*color: black;*/
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: -10%;
	z-index: 99;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.04);
	visibility: hidden;
	transition: background 1s ease-in-out;
}

header h1 {
	display: inline-block;
	margin: 0;
	color: #15db15;
}

.header-menu {
	float: right;
}

.header-menu a {
	line-height: 2em;
	padding: 0 0.5em;
	text-decoration: none;
	color: lightgray;
}

.landing-page {
	position: relative;
	top: 0;
	width: 100%;
	max-width: none;
	height: calc(100vh + 45px);
	background-image: linear-gradient(
      rgba(59, 180, 119, 0.3), 
      rgba(59, 180, 119, 0.4));
}

.landing-page::before, .landing-page::after {
	position: absolute;
	content: '';
	bottom: -2px;
	height: 0;
    width: 0;
	border-bottom: 47px solid rgb(59, 180, 119);
}

.landing-page::before {
	left: 0;
	border-left: calc(50vw - 125px) solid rgb(59, 180, 119);
    border-right: 125px solid transparent;
}

.landing-page::after {
	right: 0;
	border-right: calc(50vw - 125px) solid rgb(59, 180, 119);
    border-left: 125px solid transparent;
}

.landing-page h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #d6bfbf;
	animation: title 1s ease-out;
	font-size: 3em;
	margin: 0;
	color: white;
}

.landing-page h2 {
	position: absolute;
	top: calc(50% + 2em);
	left: 50%;
	transform: translate(-50%, -50%);
	color: #d6bfbf;
	animation: title 1s ease-out;
	margin: 0;
	font-size: 1.5em;
	color: rgb(179, 191, 186);
}

.section {
	position: relative;
	max-width: calc(90vh / 0.6666666);
	margin: 15em auto;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.text-holder {
	position: absolute;
	z-index: 2;
	width: 40%;
	height: auto;
	padding: 1em 0.5em 0.5em 0.5em;
	background-color: rgb(24, 31, 28);
	border-radius: 5px;
}

.text-holder h3 {
	position: absolute;
	top: calc(1em - 3px);
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(72, 178, 26);
	background-color: rgb(24, 31, 28);
	margin: 0;
	padding: 0 0.5em;
}

.text-holder p {
	color: rgb(179, 191, 186);
	border: solid rgb(72, 178, 26) 3px;
	border-radius: 5px;
	padding: 1em 0.5em 0.5em 0.5em;
	margin: 0;
}

.image-holder {
	position: relative;
	width: 80%;
	height: calc(75.6vh);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	background-position: center; 
}

.left .text-holder {
	top: -5em;
	left: 5em;
}

.left .image-holder {
	margin-left: 20%;
}

.right .text-holder {
	top: -5em;
	right: 5em;
}

.right .image-holder {
	margin-right: 20%;
}

.skew {
	position: relative;
	width: 100%;
	height: 60vh;
	background-color: rgb(24, 31, 28);
}

.skew-text {
	position: relative;
	padding: 1em;
	color: rgb(179, 191, 186);
}

.skew-text h3 {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	right: 0;
	text-align: center;
	color: white/*rgb(72, 178, 26)*/;
	/*background-color: rgb(72, 178, 26);*/
}

.skew-text h3::before, .skew-text h3::after {
	position: absolute;
	display: block;
	content: '';
	height: 100%;
}

.skew-text h3::before {
	left: 0;
	right: 0;
	z-index: -2;
	background-color: rgb(72, 178, 26);
}

.skew-text h3::after {
	top: -1px;
	width: 14em;
	height: calc(100% + 2px);
	left: calc(75% + 1em); 
	transform: translateX(-50%);
	z-index: -1;
	background-color: rgb(24, 31, 28);
	clip-path: polygon(0 0, 92% 0, 100% 100%, 8% 100%);
}

.skew-image {
	position: relative;
	height: 60vh;
	width: 100%;
	z-index: 2;
	background-size: cover;
	background-position: center center ;
	background-attachment: scroll;
	float: left;
	shape-outside: polygon(0 0, calc(50% + 1em) 0, calc(75% + 1em) 100%, 0 100%);
	clip-path: polygon(0 0, 50% 0, 75% 100%, 0 100%);
}


/* *************** KEY FRAMES ***************** */

@keyframes title {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes header {
	from {
		top: -10%;
	}

	to {
		top: 0;
	}
}

@keyframes section-left {
  0%{
  	transform: rotate(20deg);
  	margin-left: -45vw;
  }

  54%{
  	transform: rotate(20deg) ;
  	margin-left: calc(1.75em - 20px);
  }

  60% {
    transform:  rotate(0deg) ;
    margin-left: calc(1.75em);
  }
  68% {
    transform:  rotate(-15deg) ;
    margin-left: calc(1.75em + 15px);
  }
  76% {
    transform:  rotate(10deg) ;
    margin-left: calc(1.75em - 10px);
  }
  84% {
    transform:  rotate(-5deg);
    margin-left: calc(1.75em + 5px);
  }
  92% {
    transform:  rotate(5deg);
    margin-left: calc(1.75em - 5px);
  }
  100% {
    transform:  rotate(0deg) ;
    margin-left: calc(1.75em);
  }

}

@keyframes section-right {
  0%{
  	transform: rotate(-20deg);
  	margin-right: -45vw;
  }

  54%{
  	transform: rotate(-20deg) ;
  	margin-right: calc(1.75em - 20px);
  }

  60% {
    transform:  rotate(0deg) ;
    margin-right: calc(1.75em);
  }
  68% {
    transform:  rotate(15deg) ;
    margin-right: calc(1.75em + 15px);
  }
  76% {
    transform:  rotate(-10deg) ;
    margin-right: calc(1.75em - 10px);
  }
  84% {
    transform:  rotate(5deg);
    margin-right: calc(1.75em + 5px);
  }
  92% {
    transform:  rotate(-5deg);
    margin-right: calc(1.75em - 5px);
  }
  100% {
    transform:  rotate(0deg) ;
    margin-right: calc(1.75em);
  }

}

/* ------------ Checking for landscape mode to rotate gif ----------- */
@media only screen and (orientation: portrait) {
	.landing-page {
		background: url("../images/landing-page-rotated.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
	}
}

@media only screen and (orientation: landscape) {
	.landing-page {
		background: url("../images/landing-page.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
	}
}

/* ------------- Check screen resolution for smaller images ------------ */
@media screen and (max-width: 481px) {
	#drawing {background-image: url('../images/480p/drawing.jpg');}
	#test-guy {background-image: url('../images/480p/testing-guy.jpg');}
	#code {background-image: url('../images/480p/code.png');}
	#socket {background-image: url('../images/480p/socket.jpg');}
	#inside2 {background-image: url('../images/480p/inside2.jpg');}
}

@media screen and (min-width: 481px) and (max-width: 668px) {
	#drawing {background-image: url('../images/667p/drawing.jpg');}
	#test-guy {background-image: url('../images/667p/testing-guy.jpg');}
	#code {background-image: url('../images/667p/code.png');}
	#socket {background-image: url('../images/667p/socket.jpg');}
	#inside2 {background-image: url('../images/667	p/inside2.jpg');}
}

@media screen and (min-width: 668px) and (max-width: 769px) {
	#drawing {background-image: url('../images/768p/drawing.jpg');}
	#test-guy {background-image: url('../images/768p/testing-guy.jpg');}
	#code {background-image: url('../images/768p/code.png');}
	#socket {background-image: url('../images/768p/socket.jpg');}
	#inside2 {background-image: url('../images/768p/inside2.jpg');}
}

@media screen and (min-width: 769px) and (max-width: 1081px) {
	#drawing {background-image: url('../images/1080p/drawing.jpg');}
	#test-guy {background-image: url('../images/1080p/testing-guy.jpg');}
	#code {background-image: url('../images/1080p/code.png');}
	#socket {background-image: url('../images/1080p/socket.jpg');}
	#inside2 {background-image: url('../images/1080p/inside2.jpg');}
}

@media screen and (min-width: 1081px) {
	#drawing {background-image: url('../images/drawing.jpg');}
	#test-guy {background-image: url('../images/testing-guy.jpg');}
	#code {background-image: url('../images/code.png');}
	#socket {background-image: url('../images/socket.jpg');}
	#inside2 {background-image: url('../images/inside2.jpg');}
}

/* ---------- IOS ------------ */
@media screen and (max-device-width: 481px) {
	#drawing {background-image: url('../images/480p/drawing.jpg');}
	#test-guy {background-image: url('../images/480p/testing-guy.jpg');}
	#code {background-image: url('../images/480p/code.png');}
	#socket {background-image: url('../images/480p/socket.jpg');}
	#inside2 {background-image: url('../images/480p/inside2.jpg');}

	.image-holder {
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size:cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-position: center; 
	}
	.landing-page {
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size:cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-position: center center; 
	}
}

@media screen and (min-device-width: 481px) and (max-device-width: 668px) {
	#drawing {background-image: url('../images/667p/drawing.jpg');}
	#test-guy {background-image: url('../images/667p/testing-guy.jpg');}
	#code {background-image: url('../images/667p/code.png');}
	#socket {background-image: url('../images/667p/socket.jpg');}
	#inside2 {background-image: url('../images/667	p/inside2.jpg');}
}

@media screen and (min-device-width: 668px) and (max-device-width: 769px) {
	#drawing {background-image: url('../images/768p/drawing.jpg');}
	#test-guy {background-image: url('../images/768p/testing-guy.jpg');}
	#code {background-image: url('../images/768p/code.png');}
	#socket {background-image: url('../images/768p/socket.jpg');}
	#inside2 {background-image: url('../images/768p/inside2.jpg');}
}

@media screen and (min-device-width: 769px) and (max-device-width: 1081px) {
	#drawing {background-image: url('../images/1080p/drawing.jpg');}
	#test-guy {background-image: url('../images/1080p/testing-guy.jpg');}
	#code {background-image: url('../images/1080p/code.png');}
	#socket {background-image: url('../images/1080p/socket.jpg');}
	#inside2 {background-image: url('../images/1080p/inside2.jpg');}
}

@media screen and (min-device-width: 1081px) {
	#drawing {background-image: url('../images/drawing.jpg');}
	#test-guy {background-image: url('../images/testing-guy.jpg');}
	#code {background-image: url('../images/code.png');}
	#socket {background-image: url('../images/socket.jpg');}
	#inside2 {background-image: url('../images/inside2.jpg');}
}

/*
*	
*	Header menu buttons aanpassen, ook aan breete 
*	Resize div naast foto bij resizen browser, dat text niet weg vliegt
*	Parralax scrolling
*	Exporter voor prefix en compatibility met alle browsers
*
*/